#all{
    text-align: center;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
    font-size: 25;    
color:darkblue;
}